{% extends 'base.html' %}
{% load static %}

{% block body %}
<h1>Founders CNC</h1>

<p>Welcome: {{ user.username }}</p>
<a href="{% url 'logout' %}">Logout</a>


<h1>Machine Models</h1>
<button type="button" class="collapsible">DMG</button>
<div class="content">
  <p>A</p>
    </div>
<br>

<button type="button" class="collapsible">DMG MORI</button>
<div class="content">
    <p>B</p>
</div>
<br>

<button type="button" class="collapsible">DOOSAN</button>
<div class="content">
    <p>C</p>
</div>
<br>

<button type="button" class="collapsible">HAAS</button>
<div class="content">
    <p>D</p>
</div>
<br>

<button type="button" class="collapsible">PAMA</button>
<div class="content">
    <p>E</p>
</div>
<br>

{% endblock %}

{% block script %}
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
{% endblock %}